@font-face {
    font-family: BodoniModa;
    src: url(fonts/Bodoni_Moda,Montserrat/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Bodoni_Moda,Montserrat/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {

    margin: 0;
    padding: 0;

}

/* Header */

#frontpage-header {

    width: 70vw;
    margin-inline: auto;
    margin: 0 auto;
}

#front-page-nav {

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: clamp(1rem, 3vw, 2rem);

    gap: clamp(1rem, 5vw, 5rem);

    white-space: nowrap;
}

#front-page-nav > a {

    position: relative;

    text-decoration: none;
    color: black;

    font-family: Montserrat, sans-serif;

    cursor: pointer;
}

#front-page-nav > a::after {

    content: '';

    position: absolute;

    width: 0;
    height: 2px;

    bottom: -2px;
    left: 0;

    background-color: #7f7053;

    transition: width 0.35s ease-in-out;
}

#front-page-nav > a:hover::after {

    width: 100%;
}


/* About section */

#about-section {

    width: min(85%, 1200px);
    margin-inline: auto;
    margin-top: clamp(2rem, 3vw, 3rem);
    display: grid;

    grid-template-columns: 1fr 1fr;

    align-items: start;
}

#about-section > #about-text hr {

    margin: 0;
    width: 10%;

    border: 1px solid #7f7053;
}

#about-section > #about-text #about-heading {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 420;
    font-size: 1.3rem;
}

#about-section > #about-text {

    line-height: 1.8rem;
    width: 100%;
    
}

#about-section > #about-text h1 {

    font-weight: 540;
    font-size: clamp(2rem, 4vw, 4.5rem);
}

#about-section > #about-text h3 {

    max-width: 500px;
    line-height: 1.8;
    
    font-family: BodoniModa;
    font-style: italic;

    font-size: clamp(1.2rem, 1.3rem, 1.4rem);
    font-weight: 200;
}

#about-section > #about-text p {

    font-family: Montserrat;
    font-weight: 300;

    font-size: 1.1rem;
}

#about-section img {

    width: 100%;
    height: auto;

    margin-top: clamp(2rem, 4vw, 2.5rem);
}

/* My Approach Section: */

#approach-section {

    background-color: #F7F2EC;
    width: 90%;
    height: clamp(15rem, 15vh, 20rem);
    margin: 0 auto;
}

#approach-section > #approach-heading {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 420;
    font-size: 1.3rem;

    margin-left: clamp(15px, 18px, 20px);
    padding-top: clamp(1.2rem, 1.8vw, 1.5rem);
}

#approach-section > #approach-hr {

    margin: 0;
    width: 5%;

    margin-left: clamp(15px, 18px, 20px);

    border: 1px solid #7f7053;
}

#approach-section > #approach-grid {

    display: flex;
    justify-content: center;
    align-items: stretch; 
    text-align: center;
    gap: clamp(2rem, 2.5rem, 3rem);
    padding: 20px;
}

#approach-grid > div {
    
    text-align: center;
    width: clamp(12vw, 15vw, 17vw);
}

#approach-grid > div:not(:first-child) {

    border-left: 1px solid #7f7053;
}

#approach-grid > div > h3 {
    
    font-family: BodoniModa;

    color: #635843;

    font-size: 1.2rem;
    font-weight: 500;
}


#approach-grid > div > p {

    font-family: Montserrat;
    font-weight: 300;
    
    font-size: 1.1rem;
    
}

#approach-grid > div > p, h3 {

    margin-left: 20px;
}